@mixin mediaQuery($size) {
    @media (max-width: $size) {
        @content;
    }
}

.footer {
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    padding-bottom: 1rem;
    width: 100%;
    ul {
        padding: 1rem 1rem 0 1rem;
    }
    h2 {
        text-align: center;
    }
    ul li {
        font-size: 1rem;
        padding: 0.5rem;
    }
    @include mediaQuery(780px) {
        display: block;
        ul {
            padding: 0.5rem 0.5rem 0 0.5rem;
        }
    }
}